div.order.col-lg-12.col-md-10{
    /* color: white;
    background-color: gray; */
}
table.table.table-bordered thead{
    color: #d0d3d4;
}

table.table.table-bordered td{
    color: #3f9dbd;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin-right: 0%;
    margin-left: 43%; 
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} 

div.orderbutton{
    margin-top: 20px;
    margin-left: 42%;
}

div.orderContainer {
   -webkit-transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -ms-transition: opacity .5s ease-in-out;
   -o-transition: opacity .5s ease-in-out;
   transition: opacity .5s ease-in-out;
}
div#noResults{
    color: gray;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}