.ok, .info, .error {
	padding: 0px 2px;
}

.ok {
	border: 2px solid rgb(25, 233, 25);
}

.info {
	background: #ffc;
	border: 2px solid #cc9;
}

.error {
	border: 2px solid rgb(235, 10, 10);
}

table#signupInfo tbody tr td:nth-child(1){
    width:15%;
    font-weight: bold;
}

table#signupInfo tbody tr td:nth-child(2){
    width: 40%;
}

input.form-control {
	padding-left: 5px;
}

div.container.detail{
	margin-top: 60px;
}
